<div class="row">
    <div class="col-12">
        <h2>Cookies</h2>
    </div>
    <div class="col-12">
        <h3>¿Qué son las cookies?</h3>
        <p>Las cookies son simples archivos de texto que el servidor de un sitio web almacena en su ordenador o dispositivo móvil. Cada cookie es única para su navegador web. Contendrá información anónima, como un identificador único, el nombre de dominio del sitio web y algunos dígitos y números.</p>
    </div>
    <div class="col-12">
        <h3>¿Cómo eliminar las cookies?</h3>
        <p>Si desea restringir o bloquear las cookies establecidas por nuestro sitio web, puede hacerlo a través de la configuración de su navegador. Alternativamente, puede visitar <a href="https://www.internetcookies.org/" target="_blank">www.internetcookies.org</a>, que contiene información completa sobre cómo hacerlo en una amplia variedad de navegadores y dispositivos. Encontrará información general sobre las cookies y detalles sobre cómo eliminar las cookies de su dispositivo.</p>
    </div>
    <div class="col-12">
        <h3>¿Qué tipos de cookies utilizamos?</h3>
        <h4>Cookies necesarias</h4>
        <p>Las cookies necesarias nos permiten ofrecerle la mejor experiencia posible al acceder y navegar por nuestro sitio web y utilizar sus funciones. Por ejemplo, estas cookies nos permiten reconocer que ha creado una cuenta y ha iniciado sesión en esa cuenta para acceder al contenido.</p>
        <h4>Cookies de funcionalidad</h4>
        <p>Las cookies de funcionalidad nos permiten operar el sitio de acuerdo con las elecciones que usted haga. Por ejemplo, reconoceremos su nombre de usuario y recordaremos cómo personalizó el sitio durante futuras visitas.</p>
        <h4>Cookies analíticas</h4>
        <p>Estas cookies nos permiten a nosotros y a los servicios de terceros recopilar datos agregados con fines estadísticos sobre cómo nuestros visitantes utilizan el sitio web. Estas cookies no contienen información personal como nombres y direcciones de correo electrónico y se utilizan para ayudarnos a mejorar su experiencia de usuario del sitio web.</p>
    </div>
</div>