.countdown{
    font-size: 1.75rem;
    div{
        display: inline-block;
        &::before{
            content: ':';
            margin: 0 7.5px;
        }
        &:first-child {
            &::before {
                content: '';
                margin: initial;
            }
        }
    }
}
.next-events{
    max-width: 500px;
    @media (max-width: 767.98px) {
        max-width: 90vw;
        padding: 0 1rem;
    }
}