<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h1>Hola, name</h1>
            <p>Tienes 3 clases hoy.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-fill">
                            <h3><a routerLink="/room/roomid" style="color: initial;">Asunto de la clases <i class="bi bi-box-arrow-in-up-right"></i></a></h3>
                            <a routerLink="/" class=" host d-flex align-items-center border rounded-pill pr-3 mr-3 mb-2" style="color: initial;">
                                <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=b616b2c5b373a80ffc9636ba24f7a4a9">
                                <span class="text-reset">name host</span>
                            </a>
                        </div>
                        <div>
                            <i class="bi bi-camera-video" style="font-size: 1.5rem;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>